<% if @post.errors.any? %>
  <% @post.errors.full_messages.each do |error| %>
    <div><%= error %></div>
  <% end %>
<% end %>

<%= form_with model: [:blog, @post] do |f| %>
  <%= f.label :title, "Titel" %>
  <%= f.text_field :title %>

  <%= f.label :body, "Inhalt" %>
  <%= f.text_field :body %>

  <%= f.submit "Erstellen" %>
<% end %>
