<%= content_for(:title, @post.title) %>
<%= content_for(:meta_description, @post.content_preview) %>

<article class="pt-16 pb-12 text-lg prose max-w-[660px] mx-auto">
  <h1 class="text-4xl text-slate-900 font-medium mb-2"><%= @post.title %></h1>
  <p class="text-sm text-slate-500 mt-0 mb-8">am <%= @post.created_at.strftime('%d.%m.%Y') %></p>
  <%= @post.content %>
</article>
