<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || ENV.fetch('SITE_TITLE', 'Blog') %></title>
    <meta name="description" content="<%= content_for(:meta_description) || ENV.fetch('SITE_DESCRIPTION', '') %>">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "shared/navbar" %>

    <%= yield %>
  </body>
</html>
